.feed{
    height:1170px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.feed-title{
    font-size: 18px;
    font-weight: 600;
    color:rgb(0, 97, 224);
    margin-bottom:0px;
}
.feed-headline{
    font-size: 42px;
    font-weight: 600;
    margin-top: 15px;
}
.feed-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr,1fr);
    gap:40px;
    margin-bottom: 25px;
}

.feed-box{
    height:450px;
    width:367px;
    box-shadow: 4px 0 6px rgba(0,0,0,0.1), -4px 0 6px rgba(0,0,0,0.1), 0 4px 6px rgba(0,0,0,0.1), 0 -4px 6px rgba(0,0,0,0.1);
}
.feed-box-top{
    height:258px;
    width:367px;
}
.feed-box-top img{
    height:258px;
    width:367px;
    box-sizing: border-box;
    object-fit: cover;
}

.feed-box-middle{
    height:112px;
    width:367px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-middle-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:60px;
}
.box-middle-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.box-middle-content img{
    height:16px;
    width:16px;
}
.box-middle-content p{
    color:grey;
    font-size: 16px;
}
.box-middle-headline{
    font-size: 24px;
    font-weight: 600;
    width:306.6px;
}

.feed-box-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:90px;
    justify-content: center;
}
.box-lower-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.box-lower-content img{
    height:16px;
    width:16px;
}
.feed-box-lower h4{
    color:rgb(0, 97, 224);
}

/* view bar  */
.feed-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    border:2px solid rgb(0, 97, 224);
    border-radius: 25px;
    height:40px;
    justify-content: center;
    width:130px;
}
.feed-view img{
    height:16px;
    width:32px;
}