.facilities{
    height:800px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:2px solid green;
    justify-content: center;  
}
.facilities-left{
    width:575px;
    height:502px;
    border:2px solid pink;
    position:relative;
    overflow: hidden;
}
.facilities-left-img1{
    height:502px;
    width:575px;
    position: relative;
    object-fit: cover;
}
.facilities-left-img2{
    height:60px;
    width:60px;
    position:absolute;
    top:250px;
    left:250px;
    object-fit: cover;
}
.facilities-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 255, 0.2); /* Blue color with 50% opacity */
    z-index: 2; /* Ensure the overlay is above both images */
    pointer-events: none; /* Allow interactions with elements below the overlay */
}
.facilities-right{
    width:50%;
    border:2px solid yellow;
    height:502px;
    display: flex;
    flex-direction: column;
    padding-left:20px;
}

.facilities-right-title{
    font-size: 18px;
    color:rgb(0, 97, 224);
    margin-bottom: 0px;;
}

.facilities-right-headline{
    font-size: 46px;
    width:533px;
    margin-top:20px;
    margin-bottom: 20px;
}

.facilities-right-desc{
    font-size:16px;
    color:grey;
    width:464px;
    height:78px;
    line-height: 25px;
    margin-top:0px;
}

.facilities-right-lower{
    height:50px;
    width:150px;
    border:2px solid red;
}
.facilities-right-info{
    height:108px;
    width:369px;
    border:2px solid black;
    margin-bottom: 20px;
}

/* left part styling  */