.main{
    display:flex;
    height:850px;
    justify-content: center;
    align-items: center;
    gap:80px;
    background-color: #F4F9FF;
    position:relative;
}
.main-left{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:700px;
}
.main-left-title{
    font-size:72px;
    width:700px;
    margin:0px;
}
.main-left p{
    color:gray;

}
.main-left button{
    height:62px;
    width:225px;
    background-color: rgb(0, 97, 224);
    border:none;
    color:white;
    border-radius: 10px;

}
/* main-right */
.main-right{
    position:relative;
    
}

/* main-rating */
.main-right-rating{
border:none;
position:absolute;
top:110px;
left:350px;
display: flex;
justify-content: center;
align-items: center;
gap:20px;
width:240px;
height:48px;
background-color: white;
border-radius: 4px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.home-img{
    height:500px;
    width:500px;
}
.main-right-rating p{
    color:gray;
    font-size: 20px;
}
.rating-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating-right img{
    height:40px;
    width:40px;
}

/* main-view */
.main-right-view{
    display:flex;
    flex-direction: column;
    position: absolute;
    left:130px;
    right:70x;
    top:420px;
    height:170px;
    width:250px;
    padding:0px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.view-title{
    color:gray;
    font-size: 20px;
    margin-bottom: 0px;
}
.main-right-view h2{
    color:rgb(0, 97, 224);
    font-size:34px;
    margin-top:0px;
    margin-bottom: 0px;
}
.view-home{
    color:gray;
    font-size: 20px;
    font-weight: 600;
    margin-top:0px;
}
.main-right-button{
    background-color: rgb(0, 97, 224);
    height:35px;
    width:100px;
    color:white;
    font-size: 14px;
    border:none;
    border-radius: 4px;
}

/* lower  */
.lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:50px;
    position:absolute;
    left:360px;
    right:30x;
    top:800px;
    height:80px;
    width:800px;
    background-color: white;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.location img,.rent img,.bedroom img{
    height:20px;
    width:20px;
}
.location,.bedroom,.rent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:20px;
    border:2px solid gray;
    padding-left:10px;
    padding-right:10px;
    height:50px;
}
.search{
    height:50px;
    width:140px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
    background-color:rgb(0, 97, 224) ;
    border:none;
    border-radius: 10px;
    color:white;
}
.search img{
    height:50px;
    width:50px;
}
