.about{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:80px;
    height:800px;
    width:100%;
    border:2px solid yellow;
    margin-top:50px;
}
.about-left{
    height:500px;
    border:2px solid green;
    width:50%;
}
.left-content{
    height:200px;
    width:100px;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    
}
.left-title{
    color:black;
    font-size:22px;
    font-weight: 600;
    width:100px;
}

.about-right{
    height:500px;
    border:2px solid pink;
}